/* 
    Created on : Jul 19, 2015, 2:19:23 AM
    Author     : prince
*/

body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

